[Unit]
Description=Hawkeye file monitor
After=multi-user.target

[Service]
ExecStart=/usr/bin/hawkeye -c ~/.hawkeye.coffee
Restart=always

[Install]
WantedBy=stuff.target
